#index_table_children {
  .col.col-childcare {
    .inputs {
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;

      min-width: 20em;
    }

    .select.input {
      padding: 0;
    }
  }
}
