<p>
  Welcome to Fort Collins. We are excited you are here. As a part of Summer17/Cru17, our Communications Team will be photographing,
  recording, and live streaming many activities during and around Summer17/Cru17. The legal language for you to read and agree to is
  below, but know that your safety and the safety of those with whom you work around the world is extremely important to Cru.
</p>
<p>
  If you believe that your safety or the safety of those whom you work with around the world could be in jeopardy as a result of your image, or
  likeness, being photographed or recorded, and you do not consent to the language below,
  <strong>please indicate that by wearing your light blue lanyard to all Summer17/Cru17 events and sitting above the railing in sections
    B, C, D or P, Q, R in Moby Arena during all general sessions to remain out of the line of sight of cameras.</strong>
  If you did not receive a light blue lanyard during on-site registration, go to the Information Services Team in the Durrell Center.
  Contact Cru17.MediaReleases@cru.org with any additional questions you have.
</p>
<p>
  <strong>MEDIA RELEASE:</strong> By participating in Summer17/Cru17, You understand that Your <strong>voice, image, or likeness</strong>
  may be photographed and/or recorded at Summer17/Cru17, or in travel to and from the location, or on or around the CSU campus.
  You irrevocably grant to Ministry the perpetual, royalty-free license and permission to use, reuse, publish, republish, display, store,
  transmit, use as stock footage, alter, edit and make derivative works from Your <strong>voice, image, or likeness in a recording and/or photograph</strong>,
  and to the extent provided by You, name and biography, as included in video or audio recordings or photographs from the event, in whole or in part,
  at Cru’s sole discretion, in conjunction with the Cru Uses and promotion thereof. Cru Uses include, but are not limited to uses in ministry activity, products, films, videos, print, website postings, radio programs, advertising, publicity, and/or promotional materials in all media, devices, or formats now existing or later developed for commercial and non-commercial use.
</p>
