<div class="login_unauthorized">
  <svg class="login_unauthorized__lock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
    <path d="M103.876,45.208L103.876,45.208c0-24.193-19.683-43.875-43.875-43.875c-24.193,0-43.875,19.682-43.875,43.875v0H5v69.75h110
    v-69.75H103.876z M34.126,45.208c0-14.268,11.607-25.875,25.875-25.875S85.876,30.94,85.876,45.208v0L34.126,45.208L34.126,45.208z
    M65.875,78.126v20.059H53.986V78.122c-2.485-1.828-4.105-4.766-4.105-8.09c0-5.551,4.5-10.05,10.051-10.05
    c5.552,0,10.05,4.5,10.05,10.05C69.982,73.356,68.362,76.296,65.875,78.126z"/>
  </svg>

  You have successfully logged in with your key, but an account has not yet been
  setup for you. Please contact an administrator and ask them to create an
  account using your email address, <strong><%= @email %></strong>.

  <div class="login_unauthorized__logout">
    <a href="/logout">Logout</a>
  </div>
</div>
