<html>
  <head>
    <style>
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, font, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
      }
      body {
        line-height: 1;
        color: black;
        background: white;
      }
      ol, ul {
        list-style: none;
      }
      table {
        border-collapse: separate;
        border-spacing: 0;
        vertical-align: middle;
      }
      caption, th, td {
        text-align: left;
        font-weight: normal;
        vertical-align: middle;
      }
      q, blockquote {
        quotes: "" "";
      }
      q:before, q:after, blockquote:before, blockquote:after {
        content: "";
      }
      html {
        font-size: 100.01%;
      }
      body {
        font-size: 75%;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      }
      h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        color: #5E6469;
      }
      h1 {
        font-size: 3em;
        line-height: 1;
        margin-bottom: 0.5em;
      }
      h2 {
        font-size: 2em;
        margin-bottom: 0.75em;
      }
      h3 {
        font-size: 1.5em;
        line-height: 1;
        margin-bottom: 1em;
      }
      h4 {
        font-size: 1.2em;
        line-height: 1.25;
        margin-bottom: 1.25em;
      }
      h5 {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 1.5em;
      }
      h6 {
        font-size: 1em;
        font-weight: bold;
      }
      p {
        margin: 0 0 1.5em;
      }
      blockquote {
        margin: 1.5em;
        color: #666;
        font-style: italic;
      }
      strong, dfn {
        font-weight: bold;
      }
      em, dfn {
        font-style: italic;
      }
      sup, sub {
        line-height: 0;
      }
      abbr,
      acronym {
        border-bottom: 1px dotted #666;
      }
      address {
        margin: 0 0 1.5em;
        font-style: italic;
      }
      del {
        color: #666;
      }
      pre {
        margin: 1.5em 0;
        white-space: pre;
      }
      pre, code, tt {
        font: 1em 'andale mono', 'lucida console', monospace;
        line-height: 1.5;
      }
      ul, ol {
        margin: 0 1.5em 1.5em 0;
        padding-left: 1.5em;
      }
      ul {
        list-style-type: disc;
      }
      ol {
        list-style-type: decimal;
      }
      dl {
        margin: 0 0 1.5em 0;
      }
      dd {
        margin-left: 1.5em;
      }
      table {
        margin-bottom: 1.4em;
        width: 100%;
      }
      th {
        font-weight: bold;
      }
      thead th {
        background: #c3d9ff;
      }
      th, td, caption {
        padding: 4px 10px 4px 5px;
      }
      table tr td {
        vertical-align: top;
      }
      .panel_contents table {
        margin-top: 5px;
      }
      .panel_contents table th {
        padding-top: 10px;
        background: none;
        color: #5E6469;
        box-shadow: none;
        text-shadow: #fff 0 1px 0;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
      }
      .section > h3, .panel > h3 {
        background-color: #efefef;
        background-image: linear-gradient(180deg, #efefef, #dfe1e2);
        text-shadow: #fff 0 1px 0;
        border: solid 1px #cdcdcd;
        border-color: #d4d4d4;
        border-top-color: #e6e6e6;
        border-right-color: #d4d4d4;
        border-bottom-color: #cdcdcd;
        border-left-color: #d4d4d4;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
        font-size: 1em;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 0.5em;
        color: #5E6469;
        padding: 5px 10px 3px 10px;
      }
      .section > div, .panel > div {
        padding: 3px 15px 15px 15px;
      }
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-size: 72%;
        background: #FFF;
        color: #323537;
        margin-left: 10px;
      }

      .finances-table__subtotal td {
        padding-top: 3em;
      }

      .hide-on-email {
        display: none;
      }

    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
